page-main {
    
    .content{
        background: #fff;
    }
    
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }    
}
